# Ignora pastas de build (cache e arquivos temporários)
cmake-build-debug/
cmake-build-release/
build/
out/

# Ignora configurações específicas da IDE (Coisas do Samuel)
.idea/
.vs/
*.user

# Ignora arquivos compilados soltos
*.exe
*.dll
*.obj